In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Reading the training data

In [22]:
df = pd.read_csv('dataset/train.csv')
print(df.head())

   ID  A1_Score  A2_Score  A3_Score  A4_Score  A5_Score  A6_Score  A7_Score  \
0   1         1         1         0         0         1         1         0
1   2         1         0         0         0         0         0         0
2   3         1         1         1         0         1         1         0
3   4         0         0         0         0         0         0         0
4   5         0         0         0         1         0         0         0

   A8_Score  A9_Score  ...        age  gender       ethnicity jaundice austim  \
0         0         1  ...  15.599481       m  White-European      yes     no
1         1         0  ...  27.181099       m           Asian       no     no
2         1         1  ...  31.643906       m  White-European      yes     no
3         0         0  ...  25.369210       m               ?       no     no
4         0         0  ...   9.078580       m               ?       no     no

  contry_of_res used_app_before     result     age_desc relation
0         India              no  12.399055  18 and more     Self
1        Mexico              no   6.551598  18 and more     Self
2         Egypt              no   3.180663  18 and more     Self
3         India              no   2.220766  18 and more     Self
4         Italy              no   7.252028  18 and more     Self

[5 rows x 21 columns]

In [23]:
df.shape

(200, 21)

In [24]:
df.info()
#print(df.empty)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               200 non-null    int64
 1   A1_Score         200 non-null    int64
 2   A2_Score         200 non-null    int64
 3   A3_Score         200 non-null    int64
 4   A4_Score         200 non-null    int64
 5   A5_Score         200 non-null    int64
 6   A6_Score         200 non-null    int64
 7   A7_Score         200 non-null    int64
 8   A8_Score         200 non-null    int64
 9   A9_Score         200 non-null    int64
 10  A10_Score        200 non-null    int64
 11  age              200 non-null    float64
 12  gender           200 non-null    object
 13  ethnicity        200 non-null    object
 14  jaundice         200 non-null    object
 15  austim           200 non-null    object
 16  contry_of_res    200 non-null    object
 17  used_app_before  200 non-null    object
 18  result           200 non-null    float64
 19  age_desc         200 non-null    object
 20  relation         200 non-null    object
dtypes: float64(2), int64(11), object(8)
memory usage: 32.9+ KB

In [25]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,200.0,100.500000,57.879185,1.000000,50.750000,100.500000,150.250000,200.000000
A1_Score,200.0,0.575000,0.495584,0.000000,0.000000,1.000000,1.000000,1.000000
A2_Score,200.0,0.555000,0.498213,0.000000,0.000000,1.000000,1.000000,1.000000
A3_Score,200.0,0.475000,0.500628,0.000000,0.000000,0.000000,1.000000,1.000000
A4_Score,200.0,0.425000,0.495584,0.000000,0.000000,0.000000,1.000000,1.000000
A5_Score,200.0,0.450000,0.498742,0.000000,0.000000,0.000000,1.000000,1.000000
A6_Score,200.0,0.340000,0.474898,0.000000,0.000000,0.000000,1.000000,1.000000
A7_Score,200.0,0.420000,0.494797,0.000000,0.000000,0.000000,1.000000,1.000000
A8_Score,200.0,0.545000,0.499220,0.000000,0.000000,1.000000,1.000000,1.000000
A9_Score,200.0,0.540000,0.499648,0.000000,0.000000,1.000000,1.000000,1.000000
A10_Score,200.0,0.640000,0.481205,0.000000,0.000000,1.000000,1.000000,1.000000
age,200.0,26.074568,14.517024,4.781474,16.152524,22.717970,32.004413,77.110749
result,200.0,8.671369,4.709994,-5.655613,5.611695,9.804165,12.487160,15.731361

Inspecting data for any anomolies for data cleaning 
We can see in the output below that there are discrepencies such as 'other' '?' and 'Others' which probably are for some unkown value and are substituted as an indicator of that.

In [26]:
#Checking for duplicates
duplicates = df.duplicated()
print(f"Number of duplicate rows: {duplicates.sum()}")
#checking data types
print(df.dtypes)

#checking inconsistencies in each column of data
categorical_columns = ['gender', 'ethnicity', 'jaundice', 'austim', 'contry_of_res', 'used_app_before', 'age_desc', 'relation']

for col in categorical_columns:
    print(f"\nValue counts for {col}:")
    print(df[col].value_counts())

Number of duplicate rows: 0
ID                   int64
A1_Score             int64
A2_Score             int64
A3_Score             int64
A4_Score             int64
A5_Score             int64
A6_Score             int64
A7_Score             int64
A8_Score             int64
A9_Score             int64
A10_Score            int64
age                float64
gender              object
ethnicity           object
jaundice            object
austim              object
contry_of_res       object
used_app_before     object
result             float64
age_desc            object
relation            object
dtype: object

Value counts for gender:
gender
m    125
f     75
Name: count, dtype: int64

Value counts for ethnicity:
ethnicity
White-European     66
?                  54
Middle Eastern     27
Asian              17
South Asian         9
Pasifika            8
Others              7
Latino              4
Turkish             3
Black               3
Hispanic            2
Name: count, dtype: int64

Value counts for jaundice:
jaundice
no     146
yes     54
Name: count, dtype: int64

Value counts for austim:
austim
no     171
yes     29
Name: count, dtype: int64

Value counts for contry_of_res:
contry_of_res
United States           33
India                   32
United Kingdom          19
New Zealand             17
Jordan                  15
United Arab Emirates    11
Canada                  11
Australia                8
Afghanistan              5
Netherlands              4
Malaysia                 4
Russia                   4
Austria                  3
France                   3
Iran                     3
Italy                    3
Egypt                    2
Sri Lanka                2
Germany                  2
Viet Nam                 2
Bahamas                  2
Bolivia                  2
Mexico                   1
Uruguay                  1
Spain                    1
Burundi                  1
Lebanon                  1
Pakistan                 1
Iceland                  1
Aruba                    1
Ireland                  1
Tonga                    1
Philippines              1
Azerbaijan               1
Czech Republic           1
Name: count, dtype: int64

Value counts for used_app_before:
used_app_before
no     192
yes      8
Name: count, dtype: int64

Value counts for age_desc:
age_desc
18 and more    200
Name: count, dtype: int64

Value counts for relation:
relation
Self                        180
Parent                        8
?                             6
Relative                      2
Others                        2
Health care professional      2
Name: count, dtype: int64

Cleaning data up after checking the descrepensies

In [27]:
df = df.replace({'yes':1, 'no':0, '?':'Others', 'others':'Others'})

print(df.info())
print(df.describe().T)
#checking if data has been cleaned 
for col in categorical_columns:
    print(f"\nValue counts for {col}:")
    print(df[col].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               200 non-null    int64
 1   A1_Score         200 non-null    int64
 2   A2_Score         200 non-null    int64
 3   A3_Score         200 non-null    int64
 4   A4_Score         200 non-null    int64
 5   A5_Score         200 non-null    int64
 6   A6_Score         200 non-null    int64
 7   A7_Score         200 non-null    int64
 8   A8_Score         200 non-null    int64
 9   A9_Score         200 non-null    int64
 10  A10_Score        200 non-null    int64
 11  age              200 non-null    float64
 12  gender           200 non-null    object
 13  ethnicity        200 non-null    object
 14  jaundice         200 non-null    int64
 15  austim           200 non-null    int64
 16  contry_of_res    200 non-null    object
 17  used_app_before  200 non-null    int64
 18  result           200 non-null    float64
 19  age_desc         200 non-null    object
 20  relation         200 non-null    object
dtypes: float64(2), int64(14), object(5)
memory usage: 32.9+ KB
None
                 count        mean        std       min        25%  \
ID               200.0  100.500000  57.879185  1.000000  50.750000
A1_Score         200.0    0.575000   0.495584  0.000000   0.000000
A2_Score         200.0    0.555000   0.498213  0.000000   0.000000
A3_Score         200.0    0.475000   0.500628  0.000000   0.000000
A4_Score         200.0    0.425000   0.495584  0.000000   0.000000
A5_Score         200.0    0.450000   0.498742  0.000000   0.000000
A6_Score         200.0    0.340000   0.474898  0.000000   0.000000
A7_Score         200.0    0.420000   0.494797  0.000000   0.000000
A8_Score         200.0    0.545000   0.499220  0.000000   0.000000
A9_Score         200.0    0.540000   0.499648  0.000000   0.000000
A10_Score        200.0    0.640000   0.481205  0.000000   0.000000
age              200.0   26.074568  14.517024  4.781474  16.152524
jaundice         200.0    0.270000   0.445074  0.000000   0.000000
austim           200.0    0.145000   0.352984  0.000000   0.000000
used_app_before  200.0    0.040000   0.196451  0.000000   0.000000
result           200.0    8.671369   4.709994 -5.655613   5.611695

                        50%         75%         max
ID               100.500000  150.250000  200.000000
A1_Score           1.000000    1.000000    1.000000
A2_Score           1.000000    1.000000    1.000000
A3_Score           0.000000    1.000000    1.000000
A4_Score           0.000000    1.000000    1.000000
A5_Score           0.000000    1.000000    1.000000
A6_Score           0.000000    1.000000    1.000000
A7_Score           0.000000    1.000000    1.000000
A8_Score           1.000000    1.000000    1.000000
A9_Score           1.000000    1.000000    1.000000
A10_Score          1.000000    1.000000    1.000000
age               22.717970   32.004413   77.110749
jaundice           0.000000    1.000000    1.000000
austim             0.000000    0.000000    1.000000
used_app_before    0.000000    0.000000    1.000000
result             9.804165   12.487160   15.731361

Value counts for gender:
gender
m    125
f     75
Name: count, dtype: int64

Value counts for ethnicity:
ethnicity
White-European     66
Others             61
Middle Eastern     27
Asian              17
South Asian         9
Pasifika            8
Latino              4
Turkish             3
Black               3
Hispanic            2
Name: count, dtype: int64

Value counts for jaundice:
jaundice
0    146
1     54
Name: count, dtype: int64

Value counts for austim:
austim
0    171
1     29
Name: count, dtype: int64

Value counts for contry_of_res:
contry_of_res
United States           33
India                   32
United Kingdom          19
New Zealand             17
Jordan                  15
United Arab Emirates    11
Canada                  11
Australia                8
Afghanistan              5
Netherlands              4
Malaysia                 4
Russia                   4
Austria                  3
France                   3
Iran                     3
Italy                    3
Egypt                    2
Sri Lanka                2
Germany                  2
Viet Nam                 2
Bahamas                  2
Bolivia                  2
Mexico                   1
Uruguay                  1
Spain                    1
Burundi                  1
Lebanon                  1
Pakistan                 1
Iceland                  1
Aruba                    1
Ireland                  1
Tonga                    1
Philippines              1
Azerbaijan               1
Czech Republic           1
Name: count, dtype: int64

Value counts for used_app_before:
used_app_before
0    192
1      8
Name: count, dtype: int64

Value counts for age_desc:
age_desc
18 and more    200
Name: count, dtype: int64

Value counts for relation:
relation
Self                        180
Parent                        8
Others                        8
Relative                      2
Health care professional      2
Name: count, dtype: int64

C:\Users\syedh\AppData\Local\Temp\ipykernel_20312\3866093031.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace({'yes':1, 'no':0, '?':'Others', 'others':'Others'})